<!-- Katha Details -->
<h5 class="mb-4 mt-4">Event details</h5>
<div class="row">
    <div class="col-md-4 mb-3">
        <label class="form-label fw-bold">Type:&nbsp;</label>
        <span>{{ generalDetails.eventType }}</span>
    </div>
    <div class="col-md-4 mb-3">
        <label class="form-label fw-bold">Eevnt Name:&nbsp;</label>
        <span>{{ generalDetails.name }}</span>
    </div>
    <div class="col-md-4 mb-3">
        <label class="form-label fw-bold">Katha Type:&nbsp; </label>
        <span>Bhagwat</span>
    </div>
</div>
<h5 class="mb-4 mt-4">Event details</h5>
<div class="row">
    <div class="col-md-4 mb-3">
        <label class="form-label fw-bold">Scale:&nbsp; </label>
        <span>{{ generalDetails.scale }}</span>
    </div>
    <div class="col-md-4 mb-3">
        <label class="form-label fw-bold">Theme:&nbsp; </label>
        <span>{{ generalDetails.theme }}</span>
    </div>
    <div class="col-md-4 mb-3">
        <label class="form-label fw-bold">Language:&nbsp; </label>
        <span>{{ generalDetails.language }}</span>
    </div>
</div>
<div class="row">
    <div class="col-md-4 mb-3">
        <label class="form-label fw-bold">Duration:&nbsp; </label>
        <span>{{ generalDetails.duration }}</span>
    </div>
    <div class="col-md-4 mb-3">
        <label class="form-label fw-bold">Timing:&nbsp; </label>
        <span>{{ generalDetails.timing }}</span>
    </div>
</div>

<h5 class="mb-4 mt-4">Venue</h5>
<div class="row">
    <div class="col-md-4 mb-3">
        <label class="form-label fw-bold">Country:&nbsp; </label>
        <span>India</span>
    </div>
    <div class="col-md-4 mb-3">
        <label class="form-label fw-bold">Pincode:&nbsp; </label>
        <span>Pincode</span>
    </div>
    <div class="col-md-4 mb-3">
        <label class="form-label fw-bold">Post Office:&nbsp; </label>
        <span>Post Office</span>
    </div>
</div>
<div class="row">
    <div class="col-md-4 mb-3">
        <label class="form-label fw-bold">Thana:&nbsp; </label>
        <span>Thana</span>
    </div>
    <div class="col-md-4 mb-3">
        <label class="form-label fw-bold">Tehsil:&nbsp; </label>
        <span>Tehsil</span>
    </div>
    <div class="col-md-4 mb-3">
        <label class="form-label fw-bold">State:&nbsp; </label>
        <span>State</span>
    </div>
</div>
<div class="row">
    <div class="col-md-4 mb-3">
        <label class="form-label fw-bold">City:&nbsp; </label>
        <span>City</span>
    </div>
    <div class="col-md-4 mb-3">
        <label class="form-label fw-bold">Address Type:&nbsp; </label>
        <span>Address Type</span>
    </div>
    <div class="col-md-4 mb-3">
        <label class="form-label fw-bold">Address:&nbsp; </label>
        <span>Address</span>
    </div>
</div>

<!-- Donations Table -->
<h5 class="mb-4 mt-4">Donation</h5>
<div class="row mb-4">
    <div class="col-12">
        <h6>Donations ({{ generalDetails.donations.length }})</h6>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="table-light">
                    <tr>
                        <th>Type</th>
                        <th>Details</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let donation of generalDetails.donations">
                        <td>{{ donation.type }}</td>
                        <td>{{ donation.details }}</td>
                        <td>{{ donation.amount | currency:'INR' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Media Section -->
<h5 class="mb-4 mt-4">Media</h5>
<div class="row mb-4">
    <div class="col-12">
        <h6>Event Media</h6>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="table-light">
                    <tr>
                        <th>Coverage Type</th>
                        <th>Organization</th>
                        <th>Email</th>
                        <th>Website</th>
                        <th>Person</th>
                        <th>Designation</th>
                        <th>Contact</th>
                        <th>Person Email</th>
                        <th>Reference Person</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ generalDetails.media.coverageType }}</td>
                        <td>{{ generalDetails.media.organization }}</td>
                        <td>{{ generalDetails.media.email }}</td>
                        <td>{{ generalDetails.media.website }}</td>
                        <td>{{ generalDetails.media.person }}</td>
                        <td>{{ generalDetails.media.designation }}</td>
                        <td>{{ generalDetails.media.contact }}</td>
                        <td>{{ generalDetails.media.personEmail }}</td>
                        <td>{{ generalDetails.media.referencePerson }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Special Guests Table -->
<h5 class="mb-4 mt-4">Special Guests</h5>
<div class="row mb-4">
    <div class="col-12">
        <h6>List of Special Guests ({{ generalDetails.specialGuestsList.length }})</h6>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="table-light">
                    <tr>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Gender</th>
                        <th>Designation</th>
                        <th>Organization</th>
                        <th>Email</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Reference Person (Phone)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let guest of generalDetails.specialGuestsList">
                        <td>{{ guest.name }}</td>
                        <td>{{ guest.phone }}</td>
                        <td>{{ guest.gender }}</td>
                        <td>{{ guest.designation }}</td>
                        <td>{{ guest.organization }}</td>
                        <td>{{ guest.email }}</td>
                        <td>{{ guest.city }}</td>
                        <td>{{ guest.state }}</td>
                        <td>{{ guest.referencePerson }} ({{ guest.referencePhone }})</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Volunteers Table -->
<h5 class="mb-4 mt-4">Volunteers</h5>
<div class="row mb-4">
    <div class="col-12">
        <h6>Volunteers ({{ generalDetails.volunteersList.length }})</h6>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="table-light">
                    <tr>
                        <th>Name</th>
                        <th>Days</th>
                        <th>Seva</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let vol of generalDetails.volunteersList">
                        <td>{{ vol.name }}</td>
                        <td>{{ vol.days }}</td>
                        <td>{{ vol.seva }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Promotional Materials -->
<h5 class="mb-4 mt-4">Promotional Materials</h5>
<div class="row mb-4">
    <div class="col-12">
        <h6>Promotional Materials ({{ generalDetails.promotionalMaterials.length }})</h6>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="table-light">
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Size</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of generalDetails.promotionalMaterials">
                        <td>{{ item.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.size }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>