Run docker/build-push-action@v6
  
GitHub Actions runtime token ACs
Docker info
  /usr/bin/docker version
  Client: Docker Engine - Community
   Version:           28.3.3
   API version:       1.51
   Go version:        go1.24.5
   Git commit:        980b856
   Built:             Fri Jul 25 11:34:09 2025
   OS/Arch:           linux/amd64
   Context:           default
  Server: Docker Engine - Community
   Engine:
    Version:          28.3.3
    API version:      1.51 (minimum version 1.24)
    Go version:       go1.24.5
    Git commit:       bea959c
    Built:            Fri Jul 25 11:34:09 2025
    OS/Arch:          linux/amd64
    Experimental:     false
   containerd:
    Version:          1.7.27
    GitCommit:        05044ec0a9a75232cad458027ca83437aae3f4da
   runc:
    Version:          1.2.5
    GitCommit:        v1.2.5-0-g59923ef
   docker-init:
    Version:          0.19.0
#5 DONE 2.8s
#2 [internal] load metadata for docker.io/library/node:20-alpine
#2 DONE 2.9s
#6 [internal] load .dockerignore
#6 transferring context: 2B done
#6 DONE 0.0s
#7 [internal] load build context
#7 DONE 0.0s
#8 [builder 1/6] FROM docker.io/library/node:20-alpine@sha256:df02558528d3d3d0d621f112e232611aecfee7cbc654f6b375765f72bb262799
#8 resolve docker.io/library/node:20-alpine@sha256:df02558528d3d3d0d621f112e232611aecfee7cbc654f6b375765f72bb262799 0.0s done
#8 DONE 0.0s
#9 [stage-1 1/3] FROM docker.io/library/nginx:alpine@sha256:42a516af16b852e33b7682d5ef8acbd5d13fe08fecadc7ed98605ba5e3b26ab8
#9 resolve docker.io/library/nginx:alpine@sha256:42a516af16b852e33b7682d5ef8acbd5d13fe08fecadc7ed98605ba5e3b26ab8
#9 resolve docker.io/library/nginx:alpine@sha256:42a516af16b852e33b7682d5ef8acbd5d13fe08fecadc7ed98605ba5e3b26ab8 0.0s done
#9 DONE 0.0s
#10 importing cache manifest from ***/djjs-frontend:buildcache
#10 ...
#11 [auth] ***/djjs-frontend:pull token for registry-1.docker.io
#11 DONE 0.0s
#10 importing cache manifest from ***/djjs-frontend:buildcache
#10 inferred cache manifest type: application/vnd.oci.image.manifest.v1+json done
#10 DONE 3.2s
#7 [internal] load build context
#7 transferring context: 43.72MB 1.2s done
#7 DONE 1.2s
#12 [stage-1 2/3] COPY --from=builder /app/dist/skote /usr/share/nginx/html
#12 CACHED
#13 [builder 2/6] WORKDIR /app
#13 CACHED
#14 [builder 3/6] COPY package*.json yarn.lock ./
#14 CACHED
#15 [builder 4/6] RUN yarn install
#15 CACHED
#16 [builder 5/6] COPY . .
#16 CACHED
#17 [builder 6/6] RUN yarn build --configuration production
#17 CACHED
#18 [stage-1 3/3] COPY nginx.conf /etc/nginx/conf.d/default.conf
#18 ERROR: failed to calculate checksum of ref p1l7lr9foynjv73pa4tz67djk::8nqwl21wcu6k61zgqrsnxquwa: "/nginx.conf": not found
------
 > [stage-1 3/3] COPY nginx.conf /etc/nginx/conf.d/default.conf:
------
Dockerfile:13
--------------------
  11 |     COPY --from=builder /app/dist/skote /usr/share/nginx/html
  12 |     # Custom nginx config to handle Angular routes
  13 | >>> COPY nginx.conf /etc/nginx/conf.d/default.conf
  14 |     
  15 |     EXPOSE 8081
--------------------
ERROR: failed to build: failed to solve: failed to compute cache key: failed to calculate checksum of ref p1l7lr9foynjv73pa4tz67djk::8nqwl21wcu6k61zgqrsnxquwa: "/nginx.conf": not found
Reference
Check build summary support
Error: buildx failed with: ERROR: failed to build: failed to solve: failed to compute cache key: failed to calculate checksum of ref p1l7lr9foynjv73pa4tz67djk::8nqwl21wcu6k61zgqrsnxquwa: "/nginx.conf": not found
